#game-area {
  /* on met l'image d'herbe en background */
  background-image: url("assets/herbe.png");
  width: 500px;
  height: 500px;
  border: 1px solid black;
  position: relative;

}

.snake-unit {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: black;
}

#food {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: red;
}
