#game-area {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  position: relative;
}

.snake-unit {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: black;
}

#food {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: red;
}
